:root {
  --body-bg-color: #FAFAFA;
  --title-font-color: #CCCCCC;
  --main-bg-color: #FFFFFF;
  --boxshadow-color: #E6E6E6;
  --footer-font-color: #888888;
  --checkbox-completed: #5DC2AF;
  --task-font-color: #666666;
}

body {
  margin: 0;
  background: var(--body-bg-color);
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 67px;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 100px;
  color:  var(--title-font-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 562px;
  min-height: 402px;
  background: var(--main-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-container:before {
  display: block;
  position: absolute;

  content: '';
  width: 558px;
  height: 5px;
  left: 2px;
  top: 100%;
  z-index: -1;

  background-color: var(--main-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-container:after {
  display: block;
  position: absolute;
  content: '';
  width: 554px;
  height: 10px;
  left: 4px;
  top: 100%;
  z-index: -2;

  background-color: var(--main-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 66px;
  position: sticky;
  top: 0;
  box-shadow: inset 0 -1px 0 var(--boxshadow-color);
}
.select-all-button {
  text-indent: -9999px;
  width: 65px;
  height: 65px;
  border: 0;
  margin-right: 1px;
  background: white url("../icons/select-all-btn.svg") no-repeat center center;
}

.select-all-button:hover {
  cursor: pointer;
  background-color: var(--body-bg-color);
}

.select-all-button:focus {
  outline: 0;
}

.add-todo__create-new-todo {
  width: 100%;
}

.new-todo-input {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.6px;
  color:var(--title-font-color);

  border: 0;
  padding: 0;

  margin-left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 -1px 0 var(--boxshadow-color);
}

.new-todo-input:focus {
  outline: 0;
  font-style: normal;
  color: var(--task-font-color);
}

.tasks-list-container {
  min-height: 293px;
}

.tasks-list {
  margin: 0;
  padding-left: 0;
}

.list-item {
  list-style-type: none;
  min-height: 62px;
  display: flex;
  align-items: center;
  border-bottom: inset 1px var(--boxshadow-color);
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--body-bg-color);
}

.list-item:hover .task-delete-btn {
  cursor: pointer;
  left: 0;
}

.task-delete-btn {
  position: relative;
  left: -9999px;
  text-indent: -9999px;

  width: 62px;
  height: 62px;
  border: 0;
  background: url("../icons/delete-task-btn.svg") no-repeat center center;
}

.task-delete-btn:focus {
  outline: 0;
}

.list-item-container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #666666;
  letter-spacing: -0.6px;

  display: flex;
  align-items: center;
  width: 100%;
}

.task-text {
  width: 100%;
  padding-left: 11px;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;word-break: break-word;
}

.task-text:hover {
  cursor: pointer;
}

.task-checkbox {
  position: absolute;
  z-index: -1;
  left: -99999px;
}


.task-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.task-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--boxshadow-color);
  border-radius: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.4em 1.4em;
  background-color: white;
}

.task-checkbox:checked + label::before {
  border-color: var(--checkbox-completed);
  background: url("../icons/done.svg") no-repeat center center;
}

.task-checkbox:checked ~ label {
  color: var(--title-font-color);
  text-decoration-line: line-through;
}

.list-item-delete-container {
  height: 100%;
}

.footer {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.35px;
  color: var(--footer-font-color);

  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--boxshadow-color);

  position: sticky;
  bottom: 0;
  background-color: white;
}

.footer-tasks-counter {
  padding-left: 9px;
}

.nav-bar-btn {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.nav-bar-btn + .nav-bar-text {
  display: inline-block;
  cursor: pointer;
  padding: 0 9px;
  border-radius: 2px;
  border: 1px solid transparent;
  user-select: none;
}

.nav-bar-btn:checked + .nav-bar-text {
  border: 1px solid var(--boxshadow-color);
}

.footer-clear-completed-btn-container {
  padding-right: 9px;
}

.completed-btn {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.35px;
  color: var(--footer-font-color);

  background-color: var(--main-bg-color);
  border: 0;
}

.completed-btn:hover {
  cursor: pointer;
  background-color: var(--body-bg-color);
}

.completed-btn:focus {
  outline: 0;
}